
    <%= form_for(user) do |f| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :nombre, placeholder:"Ingrese su nombre", class:"form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :genero %>
        <%= f.text_field :genero, placeholder:"Ingrese su genero", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :nacimiento %>
        <%= f.date_select :nacimiento, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, placeholder:"Ingrese un nombre de usuario", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field :password, placeholder:"Ingrese una contraseña", class:"form-control"  %>
      </div>
      <div class="actions">
        <%= f.submit class:"btn btn-primary", id:"Boton-form"%> 
      </div>

  
<% end %>
