<p id="notice"><%= notice %></p>
<div class=container>
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2>Informacion sobre <%= @user.nombre %> </h2>
      </div>
      <div class="panel-body">
        <label>Nombre:</label>
        <p><%= @user.nombre %></p>

        <label>Genero:</label>
        <p><%= @user.genero %></p>

        <label>Nacimiento:</label>
        <p><%= @user.nacimiento %></p>

        <label>Username:</label>
        <p><%= @user.username %></p>
      </div>
    </div>
    <button class="btn btn-warning"><%= link_to 'Edit', edit_user_path(@user) %></button>  
    <button class="btn btn-warning"><%= link_to 'Back', users_path %></button> 
  </div>
</div>
<hr>
<h1>Comentarios</h1>
<br>
<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table  table-bordered">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
          <% @user.comments.each do |comment| %>
          <tr>
            <td><%= comment.nombre%></td>
            <td><%= comment.descripcion %></td>
            <td><button class="btn btn-warning"> 
              <%= link_to 'eliminar', [comment.user, comment],
                method: :delete,
                data: { confirm: 'Su comentario se eliminara' } %> 
            </button></td>              
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= render 'comments/form' %>
  </div>
</div>
    