<%= form_for([@user, @user.comments.build]) do |f| %>
      <% if @user.comments.build.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.comments.build.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
          <% @user.comments.build.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :nombre %>
        <%= f.text_field :nombre, class:"form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :descripcion %>
        <%= f.text_area :descripcion, class:"form-control"%>
      </div>

      <div class="actions">
        <%= f.submit class:"btn btn-warning" %>
      </div>
    <% end %>
