<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @comment.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @comment.descripcion %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
